@media screen and (max-width: 1400px) {
  #profile {
      height: calc(100vh - 10vh);
      margin-top: 10vh;
      padding: 0 5rem;
  }
  .about-containers,
  .projects-container {
      gap: 1.5rem;
  }
  #contact,
  #projects {
      min-height: fit-content;
  }
  section {
      padding: 4rem 5rem 8rem;
      margin-bottom: 2rem;
  }
  .arrow {
      right: 3rem;
      bottom: 4rem;
  }
  #contact {
      padding: 4rem 5rem;
  }
  .article-container {
      gap: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  #profile {
      height: calc(100vh - 10vh);
      margin-top: 10vh;
      padding: 0 3rem;
  }
  #desktop-nav {
      display: none;
  }
  #hamburger-nav {
      display: flex;
  }
  section {
      padding: 3rem 3rem 7rem;
      margin-bottom: 2rem;
  }
  .arrow {
      right: 2rem;
      bottom: 3rem;
  }
  .experience-details-container {
      margin-top: 1.5rem;
  }
  .about-containers {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }
  .projects-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }
  #profile,
  .section-container {
      display: block;
  }
  .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
  }
  #contact {
      padding: 3rem 3rem;
  }
  .article-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  body {
      overflow-x: hidden;
  }
  
  #contact,
  footer {
      padding: 2rem;
  }
  
  #profile {
      height: calc(100vh - 10vh);
      margin-top: 10vh;
      padding: 0 2rem;
  }
  
  article {
      font-size: 1rem;
      justify-content: flex-start;
  }
  
  footer nav {
      height: fit-content;
      margin-bottom: 2rem;
  }
  
  .about-containers {
      grid-template-columns: 1fr;
      gap: 1rem;
  }
  
  .contact-info-container {
      margin: 0.5rem 0;
  }
  
  .contact-info-container p,
  .nav-links li a {
      font-size: 1rem;
  }
  
  .experience-sub-title {
      font-size: 1.25rem;
  }
  
  .logo {
      font-size: 1.5rem;
  }
  
  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
  }
  
  .section__pic-container {
      width: 80%;
      height: auto;
      max-width: 300px;
      justify-content: center;
  }
  
  .section__text__p2 {
      font-size: 1.25rem;
  }
  
  .title {
      font-size: 2rem;
  }
  
  .text-container {
      text-align: justify;
  }
  
  .project-description {
      padding: 0 1rem;
  }
  
  .details-container {
      padding: 1rem;
  }
  
  .typing-demo {
      font-size: 1.5em;
  }
  
  .menu-links.open {
      max-height: 250px;
  }
  
  .project-img-container {
      height: 240px;
  }
  
  section {
      padding: 2rem 2rem 6rem;
      margin-bottom: 1rem;
  }
  .arrow {
      right: 1rem;
      bottom: 2rem;
  }
  #contact {
      padding-bottom: 4rem;
  }
  .projects-container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
  }
  .article-container {
      grid-template-columns: 1fr;
      gap: 0.5rem;
  }
}